/* Палітра кольорів сайту
    
Колір основного тексту: #757575;
Колір заголовків: #212121;

Основний колір фону: #ffffff;
Додатковий колір фону: #2F303A;
Додатквоий колір фону: #F5F4FA;
Акцент: #2196F3;

Hover кнопки: #188CE8;
Тел. та пошта у футері: rgba(255, 255, 255, 0.6);
Колір фону кнопок: #F5F4FA;

*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;


    --primary-white-color: #ffffff;

    --secondary-bg-color: #2F303A;
    --tertiary-bg-color: #F5F4FA;
    --acent-color: #2196F3;
    --button-bg-color: #F5F4FA;
}


/* Загальні стилі сайту */

.page {
    background-color: var(primary-bg-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* Шапка сайту */
/* Логотип */

.logo {
    color: #000000;
}

.footer .logo{
    color: var(--primary-white-color);
}

.logo > span {
    color: var(--acent-color);
}

/* Навігація */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--acent-color);
}

.site-nav .link.current {
    color: var(--acent-color);
}

/* Контакти в шапці */
.header-contacts .link {
    color: var(--primary-text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--acent-color);
}

/* Головний контент */
/* Блок герой */

.hero {
    background-color: var(--secondary-bg-color);
}

.hero-title {
    color: var(--primary-white-color);
}

.hero-btn {
    background-color: var(--acent-color);
    color: var(--primary-white-color);
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/* Секція */

.section-title {
    color: var(--title-text-color);
}

/* Особливості */

.feature-list .title {
    color: var(--title-text-color);
}

/* Наша команда */

.section.team {
    background-color: var(--tertiary-bg-color);
}

.cards .title {
    color: var(--title-text-color);
}


/* Підвал */

.footer {
    background-color: var(--secondary-bg-color);
}

.address .text {
    color: var(--primary-white-color);
}

.address .link {
    color: rgba(255, 255, 255, 0.6);
}

.address .link:hover,
.address .link:focus {
    color: var(--acent-color);
}

 
/* Стилі сторінки "Портфоліо" */
/* Фільрти */
/* Кнопки фільтру */

.filter-btn {
    background-color: var(--button-bg-color);
    color: var(--title-text-color);
    border: none;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--acent-color);
    color: var(--primary-white-color);
}

/* Проекти */

.projects h3 {
    color: var(--title-text-color);
}

